<tr>
    <td>{{this.id}}</td>
    <td>{{this.title}}</td>
    <td>To do</td>
    <td>To do</td>
    <td>
        <i class="fas fa-search"></i>
        <i class="far fa-edit"></i>
        <i class="far fa-trash-alt"></i>
    </td>