<tr>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>£{{this.price}}</td>
    {{#if this.MenuId }}
      <td>{{this.MenuId}}</td>
      {{/if}}
    <td>
        <i class="far fa-edit"></i>
        <i class="far fa-trash-alt"></i>
    </td>