<h2>Create a new Restaurant</h2>

<div>
    <form method="post" action="/restaurants/create">
    <div>
        <input type="text" name="name" id="" 
        value=""> Name
    </div>
    <div>
        <input type="text" name="imagelink" id=""
        value=""> Image Link
    </div>
        
        

        <div> Click this to create your Restaurant
    
            <input type="submit" value="Submit">
    
        </input>
        </div>
    </form>
</div>