<h2>Create a new Restaurant</h2>

<div>
    <form method="post" action="/restaurants/create">
    <div>
        <input type="text" name="name" id="" 
        value=""> Name
    </div>
    <div>
        <textarea name="imagelink" 
        rows="3" cols="19 px"></textarea> Image Link
    </div>
        
        

        <div> Click this to create your Restaurant
    
            <input type="submit" value="Submit">
    
        
        </div>
    </form>
</div>