<div>
Welcome! 
<a href='/restaurants'>See the restaurants</a>
</div>
<div>
There are {{restaurants.length}} restaurants in the DB
</div>
<div>
There are {{allMenus.length}} menus in the DB
</div>
<div>
There are {{allMenuItems.length}} menu items in the DB
</div>

